*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font */
}

body {
    margin: 0;
    }




    
.container {
    width: 100px;
}

.image {
    width: 100px;
}